* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(to right, #467fcf, #2953bc);
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    color: black;
    font-weight: bold;
    font-size: 18px;
    height: 100px;
    padding: 5px;
}

nav #first_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
}

nav #second_ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

.botAnim {
    margin: 0px 30px;
}

.botAnim {
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.botAnim::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.2s ease-in-out;
    transform: translateX(-50%);
}

.botAnim:hover::before {
    width: 100%;
}

/* Nav media queries */

@media screen and (max-width: 655px) {
    nav {
        font-size: 18px;
        height: 200px;
    }

    nav #first_ul {
        flex-direction: column;
        gap: 20px;
    }
}

#emd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emd span {
    font-size: 10px;
}

section {
    min-height: calc(100vh - 140px);
    padding: 10px;
}

    footer {
        height: 40px;
        background-color: #444343;
        text-align: center;
        display: block;
        color: white;
        position: relative;
        bottom: 0;
    }


/******************************************/
/* Tableau display */
/******************************************/

.table-wrapper{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.fl-table {
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 70%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 812px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}